<!DOCTYPE html>
<html>
<head>
    <title>Create Meeting</title>
</head>
<body>

    <h1>Create New Meeting</h1>

    <form method="POST" enctype="multipart/form-data">
        <label for="audio">Meeting Audio:</label>
<br>

<input
    type="file"
    name="audio"
    id="audio"
    accept="audio/*"
>

<br><br>
        {% csrf_token %}

        <input
            type="text"
            name="title"
            placeholder="Meeting title"
            required
        >

        <br><br>

        <textarea
            name="description"
            placeholder="Meeting description"
            rows="5"
        ></textarea>

        <br><br>

        <button type="submit">Create Meeting</button>
    </form>

    <br>

    <a href="{% url 'dashboard' %}">Back to Dashboard</a>

</body>
</html>